@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  /*background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));*/
  height: 100%;
  width: 100%;
}
